<md-dialog aria-label="purchase Ticket" novalidate="novalidate" ng-cloak>
  <form name="newBuyerForm" layout="column">
    <md-toolbar flex>
      <div class="md-toolbar-tools">
        <h2>Purchase Ticket</h2>
        <span flex></span>
        <md-button class="md-icon-button" type="button" ng-click="cancel()">
          <md-icon md-svg-src="content/images/ic_clear_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content flex>
      <div class="md-dialog-content buy-ticket-content">
        <label>Price for a ticket is {{ ticketPrice }}$.</label>
        <md-input-container>
          <label>Buyer's Name (Required)</label>
          <input type="text" md-maxlength="30" required name="name" ng-model="newBuyer">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions class="dialog-actions" flex>
      <md-button type="button" class="" ng-click="cancel()">
        Never mind, I'll better not.
      </md-button>
      <md-button type="submit" class="md-raised md-warn" ng-click="ok()">
        Buy
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
