<div layout="column">
	<div class="title" flex>
		<label class="md-display-2">Welcome to E-Sign Live Lottery</label>
	</div>
	<div class="content" flex layout="column">
		<div flex>
			<p class="md-title pot-amount-text">There is <label class="pot-amount">{{ctrl.potAmount}}$</label> in pot.</p>
		</div>
		<div flex>
			<p class="md-title lottery-balls-text">There are <label class="lottery-balls">{{ctrl.unassignedBalls.length}}</label> tickets available.</p>
		</div>
		<div flex>
			<md-button class="md-primary md-raised menu-button" ng-click="ctrl.openBuyTicket($event)"
			ng-disabled="ctrl.drawing || ctrl.unassignedBalls.length === 0 || ctrl.winners.length > 0">
	      Purchase
	    </md-button>
		</div>
		<div flex>
			<md-button class="md-primary md-raised menu-button" ng-click="ctrl.drawBalls($event)"
			ng-disabled="ctrl.drawing || ctrl.winners.length > 0">
	      Draw
	    </md-button>
		</div>
		<div flex>
			<md-button class="md-primary md-raised menu-button" ng-click="ctrl.showWinners($event)"
			ng-disabled="ctrl.drawing || ctrl.winners.length === 0">
	      Winners
	    </md-button>
		</div>
	</div>
</div>
