body
	background: rgba(0,0,0,0.1)
	color: black

.title
	text-align: center
	margin: 40px 0

.content
	text-align: center

.dialog-actions
	order: 2

.bought-ball-dialog
	background: none
	box-shadow: none
	min-width: 150px

.menu-button
	width: 150px
	height: 50px
	margin: 20px

.ellipsis
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden

.ball
	height: 110px
	.md-button
		font-weight: bold
		font-size: 25px
	label
		color: rgba(0,0,0,0.75)
		font-size: 16px
		font-weight: bold

.bought-ball-dialog
	color: #fff
	.ball
		height: 110px
		color: #fff
		.md-button
			font-weight: bold
			font-size: 25px
		label
			color: #fff
			font-size: 16px
			font-weight: bold

.lottery-balls-text
	font-weight: bold
	font-size: 30px
	margin: 0 0 30px 0
	.lottery-balls
		font-size: 40px
		color: rgba(25, 25, 255, 0.75)
.pot-amount-text
	font-weight: bold
	font-size: 40px
	margin: 0
	.pot-amount
		font-size: 50px
		color: rgba(255, 25, 25, 0.75)

.md-dialog-container
	background: rgba(0,0,0,0.5) !important
.dialog-actions button
	margin: 10px !important
